@model ForgotPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth-card">

    <h1>ForgetPassword</h1>

    <form asp-action="ForgetPassword">
   
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit">Send</button>
    </form>
</div>


