
<nav class="col-md-2 d-none d-md-block sidebar py-4 px-3"> 
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" asp-action="Index" asp-controller="Home"><i class="bi bi-grid"></i> Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-list"></i> Order List</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-file-earmark-text"></i> Order Detail</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person"></i> Customer</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-bar-chart"></i> Analytics</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-star"></i> Reviews</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Roles"><i class="bi bi-file-ruled-fill"></i> Roles</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Category"><i class="bi bi-bookmarks"></i> Categories</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="User"><i class="bi bi-person-lines-fill"></i> Customer Detail</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-calendar"></i> Calendar</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-chat"></i> Chat</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-wallet2"></i> Wallet</a></li>
    </ul>  
</nav>