@if (User.Identity.IsAuthenticated)
{
    var user = User.Identity.Name.Remove(User.Identity.Name.IndexOf('@') > 0 ? User.Identity.Name.IndexOf('@') : User.Identity.Name.Length);
    <span class="fw-semibold">Hello, @user</span>
    <img src="https://randomuser.me/api/portraits/women/44.jpg" class="rounded-circle" width="40" height="40" alt="Samantha">
    <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>

}
else
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Login">Login</a>


    <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Register">SignUp</a>
}