<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-toast-plugin/dist/jquery.toast.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <partial name="_Aside" />
            <!-- Main Content -->
            <main class="col-md-10 ms-sm-auto px-4">
                <partial name="_Header" />
                @RenderBody()
            </main>
        </div>
    </div>
    <partial name="_Footer" />
    <partial name="_Modal" />
    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/role/edit-role.js" asp-append-version="true"></script>
    <script src="~/js/role/add-role.js" asp-append-version="true"></script>
    <script src="~/js/role/delete-role.js" asp-append-version="true"></script>
    <script src="~/js/role/roles-table.js" asp-append-version="true"></script>
    <!-- Chart.js for charts -->
    <partial name="_Charts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
