@model IEnumerable<CategoryDto>
@{
    ViewData["Title"] = "Categories";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2><i class="bi bi-bookmarks text-primary mx-3"></i>Categories</h2>
    <a href="javascript:;" class="btn btn-primary js-modal" data-url="/Categories/Create" data-title="Add Category">
        <i class="bi bi-plus-circle"></i> Add Category
    </a>
</div>


@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No Categories
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">IsDeleted</th>
                <th scope="col">Created On</th>
                <th scope="col">Modified On</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <partial name="_CategoryRow" model="@item" />
            }
        </tbody>
    </table>
}


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function() {
          $('table').on('click','.js-toggle-status', function(e){
              var btn = $(this);
            bootbox.confirm({
                message: 'Are you sure, want to toggle status?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result)
                    {
                         $.post({
                          url: "/Categories/ToggleStatus/"+ btn.data("id"),
                          success:function(category){
                              console.log(category);
                              var row = btn.parents("tr");
                              var status = row.find(".js-status");
                              var newStatus = status.text().trim() === 'Deleted' ? 'Avaible': 'Deleted';
                              status.text(newStatus).toggleClass("bg-danger bg-success")
                              row.find(".js-modified-on").text(category.modifiedOnFormated);
                              row.addClass("animate__animated animate__fadeIn");
                              setTimeout(() => {
                                row.removeClass("animate__animated animate__fadeIn");
                              }, 1200);
                              SweetSuccess("Saved Successfully");
                          }
                        })
                   }
                }
            });
          })
        });

    </script>

}